<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Maverick Edifice - Message Detail</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../img/favi.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="../assets/css/feathericon.min.css">

    <link rel="stylesheet" href="../assets/plugins/morris/morris.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="../assets/css/style.css">

</head>

<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        <div class="header">

            <!-- Logo -->
            <div class="header-left">
                <a href="/maverick-admin/dashboard" class="logo">
                    <img src="../../assets/img/logo.png" alt="Logo">
                </a>
                <a href="/maverick-admin/dashboard" class="logo logo-small">
                    <img src="../../assets/img/logo-small.png" alt="Logo" width="30" height="30">
                </a>
            </div>
            <!-- /Logo -->

            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fe fe-text-align-left"></i>
            </a>

            <div class="top-nav-search">
                <form>
                    <input type="text" class="form-control" placeholder="Search Messages">
                    <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>

            <!-- Mobile Menu Toggle -->
            <a class="mobile_btn" id="mobile_btn">
                <i class="fa fa-bars"></i>
            </a>
            <!-- /Mobile Menu Toggle -->

            <!-- Header Right Menu -->
            <ul class="nav user-menu">

                <!-- User Menu -->
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <span class="user-img">
                            <% if(admin_image != ''){ %>
                            <img class="rounded-circle" src="../assets/team/admin/<%= admin_image %>" width="31"
                                alt="Username">
                            <% } %>
                        </span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <% if(admin_image != ''){ %>
                                <img src="../assets/team/admin/<%= admin_image %>" alt="User Image"
                                    class="avatar-img rounded-circle">
                                <% } %>
                            </div>
                            <div class="user-text">
                                <h6><%= admin_name %></h6>
                                <p class="text-muted mb-0">Administrator</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="/maverick-admin/profile">My Profile</a>
                        <a class="dropdown-item" href="/maverick-admin/logout">Logout</a>
                    </div>
                </li>
                <!-- /User Menu -->

            </ul>
            <!-- /Header Right Menu -->

        </div>
        <!-- /Header -->

        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">
                            <span>Main</span>
                        </li>
                        <li>
                            <a href="/maverick-admin/dashboard"><i class="fe fe-home"></i> <span>Dashboard</span></a>
                        </li>
                        <li>
                            <a href="/maverick-admin/add-new/admin"><i class="fe fe-user-plus"></i> <span>Add New
                                    Admin</span></a>
                        </li>
                        <li>
                            <a href="/maverick-admin/add-new/team-member"><i class="fe fe-user-plus"></i> <span>Add Team
                                    Member</span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fe fe-upload"></i> <span> Uploads</span> <span
                                    class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="/maverick-admin/add-new/post"><i class="fe fe-layout"></i> Add New Post</a>
                                </li>
                                <li><a href="/maverick-admin/add-new/podcast"><i class="fe fe-file-audio"></i> Add New
                                        Podcast</a>
                                </li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fe fe-document"></i> <span> Management</span> <span
                                    class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="/maverick-admin/management/admins"><i class="fe fe-users"></i> Manage
                                        Admins</a></li>
                                <li><a href="/maverick-admin/management/team"><i class="fe fe-users"></i> Manage
                                        Team</a></li>
                                <li><a href="/maverick-admin/management/blog"><i class="fe fe-layout"></i> Manage
                                        Blog</a></li>
                                <li><a href="/maverick-admin/management/podcasts"><i class="fe fe-file-audio"></i>
                                        Manage Podcast</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="/maverick-admin/messages"><i class="fe fe-messanger"></i> <span>
                                    Messages</span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fe fe-document"></i> <span>Subscriptions</span> <span
                                    class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="/maverick-admin/broadcast-newsletters"><i class="fe fe-users"></i> Send Newsletters</a></li>
                                <li><a href="/maverick-admin/subscribers"><i class="fe fe-users"></i> Subscribers</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Sidebar -->

        <!-- Page Wrapper -->
        <div class="page-wrapper">

            <div class="content container-fluid">

                <!-- Page Header -->
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="page-title">Message Detail</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/maverick-admin/dashboard">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="/maverick-admin/messages">Messages</a></li>
                                <li class="breadcrumb-item active">Message Detail</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /Page Header -->

                <div class="row">
                    <div class="col-lg-3"> <a href="apps-compose-mail.html"
                            class="btn btn-danger btn-block margin-bottom">Compose</a>
                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Folders</h3>
                                <div class="box-tools">
                                </div>
                            </div>
                            <div class="box-body no-padding">
                                <ul class="nav nav-pills nav-stacked">
                                    <li class="active"><a href="/maverick-admin/messages"><i class="fa fa-inbox"></i>
                                            Inbox <span class="label label-primary pull-right">12</span></a></li>
                                    <li><a href="#"><i class="fa fa-envelope-o"></i> Sent</a></li>
                                    <li><a href="#"><i class="fa fa-trash-o"></i> Trash</a></li>
                                </ul>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /. box -->
                    </div>

                    <div class="col-lg-9">
                        <div class="box box-primary" style="margin-bottom: 100px;">
                            <div class="box-header with-border">
                                <h3 class="box-title">Read Mail</h3>
                                <div class="box-tools pull-right"> <a href="#" class="btn btn-box-tool"
                                        data-toggle="tooltip" title="Previous"><i class="fa fa-chevron-left"></i></a> <a
                                        href="#" class="btn btn-box-tool" data-toggle="tooltip" title="Next"><i
                                            class="fa fa-chevron-right"></i></a> </div>
                            </div>
                            <!-- /.box-header -->
                            <% if(message){ %>
                            <div class="box-body no-padding">
                                <div class="mailbox-read-info">
                                    <h3 style="color: black;"><%= message.subject %></h3>
                                    <h5>From: <span style="color: rgb(49, 49, 255);"> <%= message.email %> </span><span
                                            class="mailbox-read-time pull-right"><%= message.timeSent %></span></h5>
                                </div>
                                <!-- /.mailbox-read-info -->
                                <div class="mailbox-controls with-border text-left">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip"
                                            data-container="body" title="Delete"> <i class="fa fa-trash-o"></i></button>
                                        <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip"
                                            data-container="body" title="Reply"> <i class="fa fa-reply"></i></button>
                                    </div>
                                    <!-- /.btn-group -->
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip"
                                        title="Print"> <i class="fa fa-print"></i></button>
                                </div>
                                <!-- /.mailbox-controls -->
                                <div class="mailbox-read-message">
                                    <p><%= message.message %></p>

                                    <p>Thanks,<br>
                                        <%= message.fullname %></p>
                                </div>
                                <!-- /.mailbox-read-message -->
                                <% }  %>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer m-b-2">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-primary"><i class="fa fa-reply"></i>
                                        Reply</button>
                                </div>
                                <button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i>
                                    Delete</button>
                                <button type="button" class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
                            </div>
                            <!-- /.box-footer -->
                        </div>
                        <!-- /. box -->
                    </div>


                </div>
            </div>

        </div>
    </div>
    <!-- /Page Wrapper -->

    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="../assets/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>

    <!-- Slimscroll JS -->
    <script src="../assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <script src="../assets/plugins/raphael/raphael.min.js"></script>
    <script src="../assets/plugins/morris/morris.min.js"></script>
    <script src="../assets/js/chart.morris.js"></script>

    <!-- Custom JS -->
    <script src="../assets/js/script.js"></script>

    <!-- IZITOAST -->
    <script src="../css/izitoast/js/iziToast.min.js"></script>

    <% if( error != '') { %>
    <script>
        var notify = new Audio("../sounds/notify.mp3");
        notify.play();
        iziToast.error({ title: 'Error!', message: `<%= error %>`, position: 'topLeft' })
    </script>
    <% } %>
    <% if(error_msg != '') { %>
    <script>
        var notify = new Audio("../sounds/notify.mp3");
        notify.play();
        iziToast.error({ title: 'Info!', message: `<%= error_msg %>`, position: 'topRight' })
    </script>
    <% } %>
    <% if(typeof errors != 'undefined') { %>
    <%  errors.forEach(function(error) { %>
    <script>
        var notify = new Audio("../sounds/notify.mp3");
        notify.play();
        iziToast.error({ title: 'Error Encountered!', message: `<%= error.msg %>`, position: 'topRight' })
    </script>
    <%     }); %>
    <% } %>

    <% if(success_msg != '') { %>
    <script>
        var notify = new Audio("../sounds/notify.mp3");
        notify.play();
        iziToast.success({ title: 'Success!', message: `<%= success_msg %>`, position: 'topRight' })
    </script>
    <% } %>

</body>

</html>