<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Maverick Edifice - Official Website</title>
    <meta name="Company name" content="Maverick Edifice">
    <meta name="author" content="His Royal Majesty">

    <!-- description -->
    <meta name="description" content="Maverick Edifice Official Website, ">
    <!-- keywords -->
    <meta name="keywords"
        content="Business , Maverick Edifice , Maverick, Technology , Information Technology, IT, Software Development, Avalanche Impact, Accra">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="img/favi.png" />
    <!-- Aminate CSS -->
    <link rel="stylesheet" href="css/animate.css" />
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="css/flaticon.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- Owl Carousel stylesheet -->
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />
    <!-- Lightbox CSS -->
    <link rel="stylesheet" href="css/lightbox.css" />
    <!-- Skin Green Css -->
    <link rel="stylesheet" href="css/skin-gray.css" />
    <!-- Header CSS -->
    <link rel="stylesheet" href="css/header.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css" />

    <!-- IZITOAST Libraries -->
    <link rel="stylesheet" href="css/izitoast/css/iziToast.min.css">

    <!-- jquery js-->
    <script src="js/jquery.min.js"></script>
    <!-- REVOLUTION CSS -->
    <link rel="stylesheet" href="css/settings.css" />
    <!-- REVOLUTION JS FILES -->
    <script src="js/revolution/jquery.themepunch.tools.min.js"></script>
    <script src="js/revolution/jquery.themepunch.revolution.min.js"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
    <script src="js/revolution/revolution.extension.actions.min.js"></script>
    <script src="js/revolution/revolution.extension.layeranimation.min.js"></script>
    <script src="js/revolution/revolution.extension.parallax.min.js"></script>
    <script src="js/revolution/revolution.extension.slideanims.min.js"></script>
</head>

<body>
    <!-- ====== Preloader ====== -->
    <div class="preloader js-preloader flex-center">
        <div class="dots">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>



    <div class="wraper">
        <!-- ====== Header Starts ====== -->
        <header class="header">
            <div class="container">

                <nav class="navbar navbar-expand-lg">

                    <!-- Brand -->
                    <h2 class="nav-brand">
                        <a class="navbar-brand" href="javascript:void(0)" title="Maverick Edifice"><img width="200px" src="img/logo.png"
                                alt="Maverick Edifice" /></a>
                    </h2>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content"
                        aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Links -->
                    <div class="main-menu collapse navbar-collapse" id="nav-content">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Resources</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a href="/blog" title="Blog">Blog</a></li>
                                    <li class="dropdown-item"><a href="/podcast" title="Podcast">Podcast</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/contact-us">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </nav>

            </div>
        </header>
        <!-- ====== Header End ====== -->

        <!-- ====== Slider Start ====== -->
        <div id="slider">
            <div id="rev_slider_1174_1_wrapper" class="rev_slider_wrapper fullscreen-container"
                data-alias="inspiration-header" data-source="gallery" style="background-color:transparent;padding:0px;">
                <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
                <div id="rev_slider_1174_1" class="rev_slider fullscreenbanner" style="display:none;"
                    data-version="5.4.1">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-index="rs-3238" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                            data-hideslideonmobile="off" data-easein="default" data-easeout="default"
                            data-masterspeed="500" data-rotate="0" data-saveperformance="off" data-title="Slide"
                            data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                            data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="img/transparent.png" data-bgcolor="#f9f9f9" alt="" data-bgposition="center center"
                                data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg"
                                data-no-retina>
                            <!-- LAYERS -->

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-resizeme rs-parallaxlevel-8" id="slide-3238-layer-4"
                                data-x="['left','left','left','left']" data-hoffset="['-264','-264','-371','-416']"
                                data-y="['top','top','top','top']" data-voffset="['-135','-135','-180','-203']"
                                data-width="none" data-height="none" data-whitespace="nowrap" data-type="image"
                                data-basealign="slide" data-responsive_offset="on"
                                data-frames='[{"from":"x:left;rZ:-90deg;","speed":2500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" style="z-index: 5;border-width:0px;"><img
                                    src="img/header_penpot.png" alt="" data-ww="['650px','650px','650px','650px']"
                                    data-hh="['500px','500px','500px','500px']" width="650" height="500" data-no-retina>
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption   tp-resizeme rs-parallaxlevel-9" id="slide-3238-layer-5"
                                data-x="['right','right','right','right']" data-hoffset="['30','30','-70','-144']"
                                data-y="['top','top','top','top']" data-voffset="['-204','-204','-233','-261']"
                                data-width="none" data-height="none" data-whitespace="nowrap" data-type="image"
                                data-basealign="slide" data-responsive_offset="on"
                                data-frames='[{"from":"x:right;y:-500px;rZ:90deg;","speed":2500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" style="z-index: 6;border-width:0px;"><img
                                    src="img/header_flowerpot.png" alt="" data-ww="['700px','700px','700px','700px']"
                                    data-hh="['600px','600px','600px','600px']" width="700" height="600" data-no-retina>
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption   tp-resizeme rs-parallaxlevel-10" id="slide-3238-layer-6"
                                data-x="['left','left','left','left']" data-hoffset="['-372','-372','-540','-638']"
                                data-y="['bottom','bottom','bottom','bottom']"
                                data-voffset="['-484','-484','-520','-522']" data-width="none" data-height="none"
                                data-whitespace="nowrap" data-type="image" data-basealign="slide"
                                data-responsive_offset="on"
                                data-frames='[{"from":"x:left;rZ:45deg;","speed":2500,"to":"o:1;","delay":650,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" style="z-index: 7;border-width:0px;"><img
                                    src="img/header_papers.png" alt="" data-ww="['900px','900px','900px','900px']"
                                    data-hh="['1000px','1000px','1000px','1000px']" width="900" height="1000"
                                    data-no-retina> </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption   tp-resizeme rs-parallaxlevel-12" id="slide-3238-layer-9"
                                data-x="['left','left','left','left']" data-hoffset="['134','134','-2','-57']"
                                data-y="['bottom','bottom','bottom','bottom']" data-voffset="['67','67','50','6']"
                                data-width="none" data-height="none" data-whitespace="nowrap" data-type="image"
                                data-basealign="slide" data-responsive_offset="on"
                                data-frames='[{"from":"y:bottom;rZ:90deg;","speed":1500,"to":"o:1;","delay":1050,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" style="z-index: 8;border-width:0px;"><img
                                    src="img/header_marker.png" alt="" data-ww="['200px','200px','200px','200px']"
                                    data-hh="['300px','300px','300px','300px']" width="200" height="300" data-no-retina>
                            </div>

                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption   tp-resizeme rs-parallaxlevel-11" id="slide-3238-layer-10"
                                data-x="['left','left','left','left']" data-hoffset="['181','181','30','-39']"
                                data-y="['bottom','bottom','bottom','bottom']"
                                data-voffset="['-170','-170','-190','-212']" data-width="none" data-height="none"
                                data-whitespace="nowrap" data-type="image" data-basealign="slide"
                                data-responsive_offset="on"
                                data-frames='[{"from":"y:bottom;rZ:-90deg;","speed":1500,"to":"o:1;","delay":1250,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" style="z-index: 9;border-width:0px;"><img
                                    src="img/header_edding.png" alt="" data-ww="['300px','300px','300px','300px']"
                                    data-hh="['400px','400px','400px','400px']" width="300" height="400" data-no-retina>
                            </div>

                            <!-- LAYER NR. 6 -->
                            <div class="tp-caption   tp-resizeme rs-parallaxlevel-12" id="slide-3238-layer-11"
                                data-x="['left','left','left','left']" data-hoffset="['393','393','201','81']"
                                data-y="['bottom','bottom','bottom','bottom']" data-voffset="['218','218','183','191']"
                                data-width="none" data-height="none" data-whitespace="nowrap" data-type="image"
                                data-basealign="slide" data-responsive_offset="on"
                                data-frames='[{"from":"y:bottom;rZ:-90deg;","speed":1500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" style="z-index: 10;border-width:0px;"><img
                                    src="img/header_paperclip.png" alt="" data-ww="['50px','50px','50px','50px']"
                                    data-hh="['100px','100px','100px','100px']" width="50" height="100" data-no-retina>
                            </div>

                            <!-- LAYER NR. 7 -->
                            <div class="tp-caption   tp-resizeme rs-parallaxlevel-11" id="slide-3238-layer-12"
                                data-x="['left','left','left','left']" data-hoffset="['346','346','165','36']"
                                data-y="['bottom','bottom','bottom','bottom']" data-voffset="['255','255','237','231']"
                                data-width="none" data-height="none" data-whitespace="nowrap" data-type="image"
                                data-basealign="slide" data-responsive_offset="on"
                                data-frames='[{"from":"y:bottom;rZ:90deg;","speed":2000,"to":"o:1;rZ:310;","delay":550,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" style="z-index: 11;border-width:0px;"><img
                                    src="img/header_paperclip.png" alt="" data-ww="['50px','50px','50px','50px']"
                                    data-hh="['100px','100px','100px','100px']" width="50" height="100" data-no-retina>
                            </div>

                            <!-- LAYER NR. 8 -->
                            <div class="tp-caption   tp-resizeme rs-parallaxlevel-9" id="slide-3238-layer-7"
                                data-x="['right','right','right','right']" data-hoffset="['-364','-364','-479','-553']"
                                data-y="['bottom','bottom','bottom','bottom']"
                                data-voffset="['-155','-155','-180','-202']" data-width="none" data-height="none"
                                data-whitespace="nowrap" data-type="image" data-basealign="slide"
                                data-responsive_offset="on"
                                data-frames='[{"from":"x:right;rZ:-65deg;","speed":1500,"to":"o:1;","delay":700,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" style="z-index: 12;border-width:0px;"><img
                                    src="img/header_tablet.png" alt="" data-ww="['730px','730px','730px','730px']"
                                    data-hh="['520px','520px','520px','520px']" width="730" height="520" data-no-retina>
                            </div>

                            <!-- LAYER NR. 9 -->
                            <div class="tp-caption   tp-resizeme rs-parallaxlevel-11" id="slide-3238-layer-8"
                                data-x="['right','right','right','right']" data-hoffset="['222','222','105','8']"
                                data-y="['bottom','bottom','bottom','bottom']" data-voffset="['8','8','-17','-10']"
                                data-width="none" data-height="none" data-whitespace="nowrap" data-type="image"
                                data-basealign="slide" data-responsive_offset="on"
                                data-frames='[{"from":"x:right;rZ:90deg;","speed":1500,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]" style="z-index: 13;border-width:0px;"><img
                                    src="img/header_pen.png" alt="" data-ww="['300px','300px','300px','300px']"
                                    data-hh="['500px','500px','500px','500px']" width="300" height="500" data-no-retina>
                            </div>

                            <!-- LAYER NR. 10 -->
                            <!-- <div class="tp-caption heading tp-resizeme rs-parallaxlevel-2" id="slide-3238-layer-1"
                                data-x="['center','center','center','center']" data-y="['top','top','top','top']"
                                data-hoffset="['0','0','0','0']" data-type="text"
                                data-frames='[{"from":"y:-50px;rX:-45deg;sX:2;sY:2;opacity:0;","speed":1500,"to":"o:1;","delay":510,"ease":"Power4.easeOut"},{"delay":640,"speed":600,"to":"y:30px;rX:45deg;sX:0.8;sY:0.8;opacity:0;","ease":"Power2.easeInOut"}]'>
                                <h2> We are Action-Oriented.</h2>
                            </div> -->

                            <!-- LAYER NR. 11 -->
                            <!-- <div class="tp-caption heading tp-resizeme rs-parallaxlevel-2" id="slide-3238-layer-15"
                                data-x="['center','center','center','center']" data-y="['top','top','top','top']"
                                data-hoffset="['0','0','0','0']" data-type="text"
                                data-frames='[{"from":"y:-50px;rX:-45deg;sX:2;sY:2;opacity:0;","speed":1500,"to":"o:1;","delay":2940,"ease":"Power4.easeOut"},{"delay":660,"speed":600,"to":"y:30px;rX:45deg;sX:0.8;sY:0.8;opacity:0;","ease":"Power2.easeInOut"}]'>
                                <h2>We are Results-Oriented.</h2>
                            </div> -->

                            <!-- LAYER NR. 12 -->
                            <div class="tp-caption heading tp-resizeme rs-parallaxlevel-2" id="slide-3238-layer-16"
                                data-x="['center','center','center','center']" data-y="['top','top','top','top']"
                                data-hoffset="['0','0','0','0']" data-type="text"
                                data-frames='[{"from":"y:-50px;rX:-45deg;sX:2;sY:2;opacity:0;","speed":1500,"to":"o:1;","delay":5390,"ease":"Power4.easeOut"},{"delay":"wait","speed":600,"to":"y:30px;rX:45deg;sX:0.8;sY:0.8;opacity:0;","ease":"Power2.easeInOut"}]'>
                                <h3>We are Maverick Edifice</h3>
                            </div>

                            <!-- LAYER NR. 13 -->
                            <div class="tp-caption content tp-resizeme rs-parallaxlevel-2" id="slide-3238-layer-2"
                                data-x="['center','center','center','center']" data-hoffset="['-8','-8','-8','-8']"
                                data-type="text"
                                data-frames='[{"from":"y:50px;rX:45deg;sX:2;sY:2;opacity:0;","speed":1500,"to":"o:1;","delay":600,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'>
                               People is our focus, Technology is our tool</div>

                            <!-- LAYER NR. 14 -->
                            <div class="tp-caption buttons rev-btn rs-parallaxlevel-3" id="slide-3238-layer-3"
                                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                                data-type="button"
                                data-frames='[{"from":"y:100px;rX:90deg;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"150","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(32, 85, 199, 1.00);bs:solid;"}]'>
                            </div>

                            <!-- LAYER NR. 15 -->
                            <div class="tp-caption rev-scroll-btn revs-dark  rs-parallaxlevel-5"
                                id="slide-3238-layer-13" data-x="['center','center','center','center']"
                                data-hoffset="['0','0','0','0']" data-y="['bottom','bottom','bottom','bottom']"
                                data-voffset="['50','50','50','50']" data-width="35" data-height="55"
                                data-whitespace="nowrap" data-type="button"
                                data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":""}]'
                                data-basealign="slide" data-responsive_offset="on" data-responsive="off"
                                data-frames='[{"from":"y:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":800,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                data-paddingleft="[0,0,0,0]"
                                style="z-index: 19; min-width: 35px; max-width: 35px; max-width: 55px; max-width: 55px; white-space: nowrap; font-weight: 400;border-color:rgba(51, 51, 51, 1.00);border-style:solid;border-width:3px;border-radius:23px 23px 23px 23px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                                <span> </span> </div>
                        </li>
                    </ul>
                    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                </div>
            </div>
            <script>
                var tpj = jQuery;

                var revapi1174;
                tpj(document).ready(function () {
                    if (tpj("#rev_slider_1174_1").revolution == undefined) {
                        revslider_showDoubleJqueryError("#rev_slider_1174_1");
                    } else {
                        revapi1174 = tpj("#rev_slider_1174_1").show().revolution({
                            sliderType: "hero",
                            jsFileLocation: "revolution/js/",
                            sliderLayout: "fullscreen",
                            dottedOverlay: "none",
                            delay: 9000,
                            navigation: {
                            },
                            responsiveLevels: [1240, 1024, 778, 480],
                            visibilityLevels: [1240, 1024, 778, 480],
                            gridwidth: [1240, 1024, 778, 480],
                            gridheight: [868, 768, 960, 720],
                            lazyType: "none",
                            parallax: {
                                type: "scroll",
                                origo: "slidercenter",
                                speed: 400,
                                levels: [10, 15, 20, 25, 30, 35, 40, -10, -15, -20, -25, -30, -35, -40, -45, 55],
                                type: "scroll",
                            },
                            shadow: 0,
                            spinner: "off",
                            autoHeight: "off",
                            fullScreenAutoWidth: "off",
                            fullScreenAlignForce: "off",
                            fullScreenOffsetContainer: "",
                            fullScreenOffset: "60px",
                            disableProgressBar: "on",
                            hideThumbsOnMobile: "off",
                            hideSliderAtLimit: 0,
                            hideCaptionAtLimit: 0,
                            hideAllCaptionAtLilmit: 0,
                            debugMode: false,
                            fallbacks: {
                                simplifyAll: "off",
                                disableFocusListener: false,
                            }
                        });
                    }
                }); /*ready*/
            </script>
        </div>
        <!-- ====== Slider End ====== -->

        <!-- ====== Middle Section ====== -->
        <section id="mt_blog">
            <div class="row" style="padding: 50px;">
                <div class="col-md-6 col-sm-12 mt-7 mb-5">
                    <div class="blog-post_wrapper image-wrapper" onclick="window.location.href='/Who'"
                        style="cursor: pointer;">
                        <div class="blog-post-image">
                            <img src="img/parallax_3.jpg" alt="image" class="img-responsive center-block post_img" />
                        </div>
                        <div class="post-content">
                            <h2 class="entry-title white">
                                <a href="/Who" class="text-white">Who we are</a>
                            </h2>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-sm-12 mt-5 mb-5">
                    <div class="blog-post_wrapper image-wrapper" onclick="window.location.href='/What'"
                        style="cursor: pointer;">
                        <div class="blog-post-image">
                            <img src="img/service_detail.jpg" alt="image"
                                class="img-responsive center-block post_img" />
                        </div>
                        <div class="post-content">
                            <h2 class="entry-title">
                                <a href="/What" class="text-white">What we do</a>
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 mt-7 mb-5">
                    <div class="blog-post_wrapper image-wrapper" onclick="window.location.href='/Why'"
                        style="cursor: pointer;">
                        <div class="blog-post-image">
                            <img src="img/parallax_7.jpg" alt="image" class="img-responsive center-block post_img" />
                        </div>
                        <div class="post-content">
                            <h2 class="entry-title white">
                                <a href="/Why" class="text-white">Why we design</a>
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 mt-5 mb-5">
                    <div class="blog-post_wrapper image-wrapper" onclick="window.location.href='/How'"
                        style="cursor: pointer;">
                        <div class="blog-post-image">
                            <img src="img/parallax_8.jpg" alt="image" class="img-responsive center-block post_img" />
                        </div>
                        <div class="post-content">
                            <h2 class="entry-title">
                                <a href="/How" class="text-white">How we think</a>
                            </h2>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-md-6 col-sm-12 mt-7 mb-5">
                    <div class="blog-post_wrapper image-wrapper" onclick="window.location.href='/Work-culture'"
                        style="cursor: pointer;">
                        <div class="blog-post-image">
                            <img src="img/parallax_9.jpg" alt="image" class="img-responsive center-block post_img" />
                        </div>
                        <div class="post-content">
                            <h2 class="entry-title white">
                                <a href="/Work-culture" class="text-white">Our work culture</a>
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 mt-5 mb-5">
                    <div class="blog-post_wrapper image-wrapper" onclick="window.location.href='/Products'"
                        style="cursor: pointer;">
                        <div class="blog-post-image">
                            <img src="img/classes-1.jpg" alt="image" class="img-responsive center-block post_img" />
                        </div>
                        <div class="post-content">
                            <h2 class="entry-title">
                                <a href="/Products" class="text-white">Our Products</a>
                            </h2>
                        </div>
                    </div>
                </div> -->

            </div>
        </section>

        <!-- ====== Blog Start ====== -->
        <section id="blog_post">
            <div class="container">
                <div class="section_heading ">
                    <h2>Blog <span>Posts</span></h2>
                    <div class="separator">
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="heading_content"> Our Recent Posts</div>
                </div>
                <div class="col-lg-12 col-md-12 col-xs-12 content_sec ">
                    <div class="blog-slider owl-four owl-carousel owl-theme">
                        <% if(blog){ %>
                        <% blog.forEach(function(eachBlog){ %>
                        <div class="item blog_card">
                            <div class="post-img"> <img src="assets/blog/<%= eachBlog.blogImage %>" alt="Post"
                                    style="height: 200px" />
                                <div class="posted_on"> <span
                                        class="date"><%= eachBlog.timePosted.substring(22, 25) %></span> <span
                                        class="month"><%= eachBlog.timePosted.substring(18, 22) %></span>
                                </div>
                            </div>
                            <div class="post-detail">
                                <div class="post-title">
                                    <h5><a href="/blog-detail?id=<%= eachBlog._id %>"><%= eachBlog.blogTitle %></a></h5>
                                </div>
                                <div class="posted_by"> <i class="flat flaticon-avatar"></i> Posted By - <a
                                        href="javascript:void(0)"><%= eachBlog.postedBy.substring(0, 14) + '...' %></a>
                                </div>
                                <div class="about_post">
                                    <p><%- eachBlog.blogText.substring(0, 100) + '...' %></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <% }) %>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </section>
        <!-- ====== Blog End ====== -->
    </div>

    <!-- ====== Footer Start ====== -->
    <footer>
        <div class="container">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 column">
                        <div class="footer_about_content">
                            <div class="footer_logo"><a href="/" title="Maverick Edifice"><img src="img/logo.png"
                                        alt="Maverick Edifice" /></a> </div>
                            <!-- <p> Collaborate with Maverick Edifice to share your dreams with a trusted
                                partner, who is willing to help you achieve them. we will be thrilled to give you the
                                best experience ever! That's our promise.</p>
                            <p>Do Business With Us
                            </p> -->
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 column">
                        <h5>Useful Links</h5>
                        <div class="navigations">
                            <ul>
                                <li><a href="/careers" title="Careers"> Careers</a></li>
                                <li><a href="/our-team" title="Out Team"> Our Team</a></li>
                                <!-- <li><a href="/" title="Home"> Home</a></li>
                                <li><a href="/blog" title="Blog"> Blog</a></li>
                                <li><a href="/podcast" title="Blog"> Podcast</a></li>
                                <li><a href="/products" title="Products"> Products</a></li>
                                <li><a href="/services" title="Services"> Services</a></li>
                                <li><a href="/contact-us" title="Contact Us"> Contact Us</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 column">
                        <div class="navigations">
                            <ul>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12 column">
                        <h5>Contact Info</h5>
                        <div class="contact_info">
                            <ul>
                                <li> <i class="flat flaticon-facebook-placeholder-for-locate-places-on-maps"></i>Accra,
                                    Ghana </li>
                                <li> <i class="flat flaticon-phone-receiver"></i>+233 55 968 7893, +233 55 337 1974</li>
                                <li> <i class="flat flaticon-mail-black-envelope-symbol"></i>info@maverickedifice.com
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="newsletter">
                    <div class="row">
                        <div class="col-md-3">
                            <h4>Our Newsletter</h4>
                        </div>
                        <div class="col-md-9">
                            <form onsubmit="return subscribe(this)" method="POST">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="text" id="name" name="name" placeholder="Name" required/>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="email" id="email" name="email" placeholder="Email" required/>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="Submit">Subscribe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <script>
                            function subscribe(form) {
                                var formData = { name: form.name.value, email: form.email.value }
                                $.ajax({
                                    url: '/subscribe',
                                    method: 'POST',
                                    data: formData,
                                    success: function (response) {
                                        document.getElementById('name').value = "";
                                        document.getElementById('email').value = "";
                                        var notify = new Audio("sounds/notify.mp3");
                                        notify.play();
                                        iziToast.success({ title: 'Success!', message: response.text, position: 'bottomRight' })
                                    }

                                });
                                return false;
                            }
                        </script>
                    </div>
                </div>
            </div>
            <div class="copyright col-lg-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"> Copyright &copy;
                        <script> document.write(new Date().getFullYear());</script>
                        <span class="separator-pipesign"></span>
                        All Rights Reserved
                        <span class="separator-pipesign"></span>
                        <a href="/">Maverick Edifice</a></div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ====== Footer End ====== -->
    <!-- popper js-->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap js-->
    <script src="js/bootstrap.min.js"></script>
    <!-- Waypoints js plugin -->
    <script src="js/waypoints.min.js"></script>
    <!-- Counter-up js plugin -->
    <script src="js/jquery.counterup.min.js"></script>
    <!-- Preloadinator -->
    <script src="js/jquery.preloadinator.min.js"></script>
    <script>
        $('.js-preloader').preloadinator({
            minTime: 1000
        });
    </script>
    <!-- Lightbox-->
    <script src="js/lightbox.js"></script>
    <!--imageloaded js plugin -->
    <script src="js/imagesloaded.js"></script>
    <!-- isotope js -->
    <script src="js/isotope.min.js"></script>
    <!-- Owl Slider js-->
    <script src="js/owl.carousel.js"></script>
    <script src="js/owl.custom.js"></script>
    <!-- parallax js-->
    <script src="js/jquery.parallax-1.1.3.js"></script>
    <script src="js/jquery.localscroll-1.2.7-min.js"></script>
    <!-- Header menu -->
    <script src="js/jquery.smartmenus.min.js"></script>
    <!-- Custome js-->
    <script src="js/custom.js"></script>
    <!-- IZITOAST -->
    <script src="css/izitoast/js/iziToast.min.js"></script>
</body>

</html>